<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://model.deployment.itecban.es/DeploymentPlanReport"
            class="es.itecban.deployment.model.deployment.plan.report.ReportPackage"
            genModel="model/genmodel/es.itecban.deployment.model.deployment.plan.report.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="report"
            class="es.itecban.deployment.model.deployment.plan.report.util.ReportResourceFactoryImpl"/>
   </extension>

</plugin>
