<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="executionManagerID"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="ilabrys execution manager">
         <property
               name="appName"
               value="ilabrys execution manager">
         </property>
      </product>
   </extension>

</plugin>
