<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://model.deployment.itecban.es/Configuration"
            class="es.itecban.deployment.model.configuration.ConfigurationPackage"
            genModel="model/genmodel/es.itecban.deployment.model.configuration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="configuration"
            class="es.itecban.deployment.model.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>

</plugin>
